<p>add-edit-members works!</p>
<section>
    <!--Dynamic Label-->
    <input type="button" value="Go Back" (click)="goBack()">
</section>
<section>
    <ng-container *ngIf="groupId !== undefined">
        <form [formGroup]="memberForm">
            <p>{{groupId}}</p>
            <input type="hidden" name="groupId" formControlName="GroupId">
            <input type="hidden" name="memberId" formControlName="MemberId">
            <label for="memberName">Name</label>
            <input type="text" name="memberName" formControlName="MemberName">
            <label for="memberEmail">Email</label>
            <input type="text" name="memberEmail" formControlName="MemberEmail">
            <label for="memberPhone">Phone</label>
            <input type="text" name="memberPhone" formControlName="MemberPhone">
            <input type="button" value="Save" (click)="submitMemberForm(memberForm.value)">
            <ng-container *ngIf="operationMode === 2">
                <input type="button" value="Delete" (click)="deleteMember(member)">
            </ng-container>
        </form>
    </ng-container>
</section>

