<section class="readingGroups">

    <p>Groups Component</p>

    <section class="searchBar">
        <select name="genre" id="genre" (change)="selectGenre($event)">
            <option value="{{genrePlaceholderValue}}">Genre</option>
            <option *ngFor="let genre of allGenres" value="{{genre.id}}" [selected]="selectedGenre != undefined && selectedGenre == genre.id">
                {{genre.name}}
            </option>
        </select>
        <!--TODO Order By-->
        <!--<select name="orderBy" id="orderBy">
            <option value="noSelection" selected>Order By</option>
            <option value="orderByName">Name</option>
            <option value="orderByCapacity">Capacity</option>
        </select>-->
        <input type="checkbox" id="hideFullGroup" name="hideFullGroup" (change)="toggleHideFullGroups($event)">
        <label for="hideFullGroup">Hide Full Groups</label>
        <!--TODO: If I get around to it, allow filter by word search-->
        <!--<input type="text" name="filterSearch" id="filterSearch">
        <label for="filterSearch">Search</label>-->
        <input type="button" value="Add Group" routerLink="../addGroup" routerLinkActive="active">
    </section>

    <p>group-tiles-container</p>

    <div *ngIf="groupObservable$ | async as groups; else isLoading">
        <ng-container *ngIf="groups != undefined">
            <ng-container *ngIf="groups.length > 0">
                <section class="groupSection" *ngFor="let group of groups">
                    <app-group-tiles [genres]="allGenres" [group]="group" *ngIf="group['Members'].length == group['MaxGroupSize'] ? visible : true"></app-group-tiles>
                </section>
            </ng-container>
            
            <section class="noResults" *ngIf="groups.length == 0">
                No Groups Found
            </section>
        </ng-container>
    </div>
</section>
