<section class="readingGroups">

    <p>Groups Component</p>

    <section class="searchBar">
        <p>Search Component</p>
        <select name="genre" id="genre">
            <option value="noGenre">Genre</option>
            <option *ngFor="let genre of allGenres" value="{{genre.id}}" [selected]="selectedGenre != undefined && selectedGenre == genre.id">
                {{genre.name}}
            </option>
        </select>
        <select name="orderBy" id="orderBy">
            <option value="noSelection" selected>Order By</option>
            <option value="orderByName">Name</option>
            <option value="orderByCapacity">Capacity</option>
        </select>
        <input type="checkbox" id="hideFullGroup" name="hideFullGroup">
        <label for="hideFullGroup">Hide Full Groups</label>
        <input type="text" name="filterSearch" id="filterSearch">
        <label for="filterSearch">Search</label>
        <span><a routerLink="../addGroup" routerLinkActive="active">Add Group</a></span>
    </section>

    <p>group-tiles-container</p>
    <input type="button" value="Reset?" (click)="changeGroups()">

    <div class="flex-container" *ngIf="groupObservable$ | async as groups; else isLoading">
        <ng-container *ngIf="groups != undefined">
            <p>Results: {{groups.length}}</p>
            <section *ngIf="groups.length > 0">
                groups
                <section *ngFor="let group of groups">
                    <app-group-tiles [group]="group"></app-group-tiles>
                </section>
            </section>
            
            <section *ngIf="groups.length == 0">
                No Groups Found
            </section>
        </ng-container>
    </div>

    
    
    <!--<app-group-tiles-container [groups]="groupObservable$ | async"></app-group-tiles-container>-->
    
    <!--<app-add-edit-group [editGroupFlag]="editGroupFlag"></app-add-edit-group>-->
</section>
