
<nav class="navBar">
    <div class ="navItem" [ngClass]="{active: isActive}" routerLink="home" routerLinkActive="active">
        Home
    </div>
    <div class ="navItem" [ngClass]="{active: isActive}" routerLink="genres" routerLinkActive="active">
        Genres
    </div>
    <div class ="navItem" [ngClass]="{active: isActive}" routerLink="groups" [state]="{id:1, name:'Angular'}" routerLinkActive="active">
        Groups 
    </div>
</nav>
<br> <!--Need to use styling for this instead of using html for styling-->
<br>


  