<p>The theme of my web app is a web app that allows people to create and manage reading groups. Users are able to create groups that
    have a genre of books that they like to read. The Genres are a renaming of the Organizations data structure provided by the backend provided.
</p>
<p>Placeholder text below vvv</p>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
