
.addGroupForm {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.returnButton:hover {
    background-color: white; 
    color: #555555;
}

form {
    border: 1px solid black;
    min-width: 300px;
    background-color: white;
}

form > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form > #genreName, #maxGroupSize{
    display: block;
    margin-left: 0;
}

form > input[type=button] {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.members {
    display: flex;
    gap: 25px;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 10px;
}

.member {
    border: 1px solid black;
    background-color: white;
    border: 2px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10%;
}