.container {
    display: flex;
    gap: 25px;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 5em;
}

.genreLink {
    width: 20em;
    height: 14em;
    background-color: lightblue;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 25%;
}

.genreLink:hover {
    background-color: white; 
    color: #555555;
}