.header {
  background-color: #85dcb8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.header>* {
  margin: 0 1em;
}
  
h1 {
  text-shadow: 1px 1px #fff;
}